<h1>Změna hesla</h1>
<h2>Změna hesla pro {{login}}</h2>

{{#error_msg}}
<h2 class="text-danger">{{error_msg}}</h2>
{{/error_msg}}
<form method="post">
<label for="oldPass">Staré heslo:</label><br>
    <input type="password" id="oldPass" name="oldPass"><br>
    <label for="newPass">Nové Heslo:</label><br>
    <input type="password" id="newPass" name="newPass"><br>
    <label for="newPassRe">Opakovat heslo:</label><br>
    <input type="password" id="newPassRe" name="newPassRe"><br>
    <input type="submit" value="Potvrdit">
</form>