    <nav>
    {{#login}}
    <div>
    Přihlášen jako {{{login}}} 
    <a href="logout.php">odhlásit</a>
    <a href="changePassword.php">zmenit heslo</a>
    </div>
    {{/login}}

        <h1>Prohlížeč databáze zaměstnanců</h1>
    </nav>
