<h1>Login</h1>
<form method="post">
<label for="inputlogin">Jméno:</label><br>
    <input type="text" id="login" name="login" value={{{login}}}><br>
    <label for="inputpassword">Heslo:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Potvrdit">
</form>